h1{
    color: #ff0000;
}

p {
    color: rgb(7, 236, 236);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

button {
    background-color: rgb(7, 243, 164);
}

button.hover {
    background-color: blue;
}