p {
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* h1 {
    text-align: center;
    text-decoration: red wavy underline;
    color: crimson;
    text-decoration-style: double;
} */

#h1 
{
    font-weight: 300;
}
#h2 {
    font-weight: 500;
}

#h3 {
    font-weight: 700;
}

#h4 {
    font-weight: 900;
}
a {
    text-decoration: none;
  }